html
	head
		title Zaloguj do Google
	body
		h2 Poniżej wpisz swoje dane
		form
			|  Adres email:
			input(placeholder='Tutaj wpisz swój adres email', required='', type='text')
			|  Hasło:
			input(placeholder='Tu wpisz swoje hasło', required='', type='password')
			input(type='submit', value='Zaloguj')
